<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="familly">
            <h2><span>Familly</span> {{familly.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{familly.name}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <div *ngIf="familly.name">
                        <a [routerLink]="['/dog', familly.name?.id, 'view']">{{familly.name?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/familly', familly.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
