<div>
    <h2 id="page-heading">
        <span>Health Sheets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-health-sheet" [routerLink]="['/health-sheet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Health Sheet
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="healthSheets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Reason</span></th>
            <th><span>Comment</span></th>
            <th><span>Dog</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let healthSheet of healthSheets ;trackBy: trackId">
                <td><a [routerLink]="['/health-sheet', healthSheet.id, 'view' ]">{{healthSheet.id}}</a></td>
                <td>{{healthSheet.date | date:'medium'}}</td>
                <td>{{healthSheet.reason}}</td>
                <td>{{healthSheet.comment}}</td>
                <td>
                    <div *ngIf="healthSheet.dog">
                        <a [routerLink]="['../dog', healthSheet.dog?.id, 'view' ]" >{{healthSheet.dog?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/health-sheet', healthSheet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/health-sheet', healthSheet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'health-sheet', { outlets: { popup: healthSheet.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
