<div>
    <h2 id="page-heading">
        <span>Weights</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-weight" [routerLink]="['/weight/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Weight
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="weights">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Weight</span></th>
            <th><span>Qty Ration</span></th>
            <th><span>Nb Ration</span></th>
            <th><span>Observation</span></th>
            <th><span>Dog</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let weight of weights ;trackBy: trackId">
                <td><a [routerLink]="['/weight', weight.id, 'view' ]">{{weight.id}}</a></td>
                <td>{{weight.date | date:'medium'}}</td>
                <td>{{weight.weight}}</td>
                <td>{{weight.qtyRation}}</td>
                <td>{{weight.nbRation}}</td>
                <td>{{weight.observation}}</td>
                <td>
                    <div *ngIf="weight.dog">
                        <a [routerLink]="['../dog', weight.dog?.id, 'view' ]" >{{weight.dog?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/weight', weight.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/weight', weight.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'weight', { outlets: { popup: weight.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
