<div>
    <h2 id="page-heading">
        <span>Bilan Checks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bilan-check" [routerLink]="['/bilan-check/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Bilan Check
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="bilanChecks">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Bilan Type</span></th>
            <th><span>Criteria</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bilanCheck of bilanChecks ;trackBy: trackId">
                <td><a [routerLink]="['/bilan-check', bilanCheck.id, 'view' ]">{{bilanCheck.id}}</a></td>
                <td>{{bilanCheck.date | date:'medium'}}</td>
                <td>
                    <span *ngFor="let bilanType of bilanCheck.bilanTypes; let last = last">
                            <a class="form-control-static" [routerLink]="['../bilan-type', bilanType?.id, 'view' ]">{{bilanType.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let criteria of bilanCheck.criteria; let last = last">
                            <a class="form-control-static" [routerLink]="['../criteria', criteria?.id, 'view' ]">{{criteria.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/bilan-check', bilanCheck.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/bilan-check', bilanCheck.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'bilan-check', { outlets: { popup: bilanCheck.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
